
<div class="container">
<h2 class="text-center">Template Validation Form</h2>

<form action="" novalidate autocomplete="off" #f="ngForm">    
<div class="form-group my-3">
    <label>First Name </label>
    <input type="text" name="fname" [class.is-invalid]="(f.submitted && tempFname.invalid) || (tempFname.invalid && tempFname.touched)" 
    #tempFname="ngModel"  
    class="form-control" required [(ngModel)]="registration_model.first_name" > 



    <small> touched: {{tempFname.touched}}    untouched: {{tempFname.untouched}} </small><br/>
    <small> dirty: {{tempFname.dirty}}        pristine: {{tempFname.pristine}}</small><br/>
    <small> valid: {{tempFname.valid}}        Invalid: {{tempFname.invalid}} </small><br/>
    {{f.submitted}}
<div *ngIf="(f.submitted && tempFname.invalid) || (tempFname.invalid && tempFname.touched)">
<small class="text-danger">First Name is required</small>
</div>
</div>
<div class="form-group my-3">
    <label>Last Name </label>
    <input type="text" name="lname" [class.is-invalid]="(f.submitted && tempLname.invalid) || (tempLname.invalid && tempLname.touched)"
    #tempLname="ngModel" class="form-control" required [(ngModel)]="registration_model.last_name"> 
    <div *ngIf="(f.submitted && tempLname.invalid) || (tempLname.invalid && tempLname.touched)">
        <small class="text-danger">Last Name is required</small>
    </div>
    
</div>

<div class="form-group my-3">
    <label>Email </label>
    <input type="text" name="eemail" [class.is-invalid]="(f.submitted && tempEmail.invalid) || (tempEmail.invalid && tempEmail.touched)"  
    #tempEmail="ngModel" class="form-control" required [(ngModel)]="registration_model._email"> 
<div *ngIf="(f.submitted && tempEmail.invalid) || (tempEmail.invalid && tempEmail.touched)">
<small class="text-danger">Email is required</small>
</div>
</div>
<div class="form-group my-3">
    <label>Password </label>
    <input type="text" name="ppassword" 
    [class.is-invalid]="(f.submitted && tempPassword.invalid) || (tempPassword.invalid && tempPassword.touched)"
    #tempPassword="ngModel" class="form-control" required [(ngModel)]="registration_model._password"> 
<div *ngIf="(f.submitted && tempPassword.invalid) || (tempPassword.invalid && tempPassword.touched)">
<small class="text-danger">Password is required</small>
</div>
</div>

<div class="form-group my-3">
    <label>Confirm Password </label>
    <input type="text" name="cpassword" 
    [class.is-invalid]="(f.submitted && tempConfirmPassword.invalid) || (tempConfirmPassword.invalid && tempConfirmPassword.touched)" 
    #tempConfirmPassword="ngModel"  class="form-control col-sm-6" required [(ngModel)]="registration_model.confirm_password"> 
<div *ngIf="(f.submitted && tempConfirmPassword.invalid) || (tempConfirmPassword.invalid && tempConfirmPassword.touched)">
<small class="text-danger">Confirm Password is required</small>
</div>
</div>

<div class="form-check my-3">    
    <input type="checkbox" name="cterms" 
    [class.is-invalid]="(f.submitted && tempTerms.invalid) || (tempTerms.invalid && tempTerms.touched)"  
    #tempTerms="ngModel"  class="form-check-input " required [(ngModel)]="registration_model.terms_conditions"> 
    <label class="form-check-label">Terms and Conditions </label>   
    <div *ngIf="(f.submitted && tempTerms.invalid) || (tempTerms.invalid && tempTerms.touched)">
        <small class="text-danger">Confirm Password is required</small>
        </div>
<div >

</div>
</div>

<div class="form-group my-4 ">    
    <input type="submit" name="" id="" class="btn btn-primary"  value="Submit"> 
    <input type="submit" name="" id="" class="btn btn-secondary mx-2" value="Reset"> 
</div>


</form>
</div>

