
<h1 class="text-center"> Compare Password with Reactive</h1>

<div class="container-fluid">
<form #userform = "ngForm" [formGroup]="userGroup">
<div class="form-group col-sm-6 my-3">
    <label>Ppassword :</label>
    <input type="password" class="form-control" formControlName="password">
    <span class="text-danger" 
    *ngIf="userGroup.get('password')?.errors && userGroup.get('password')?.dirty || userform.submitted ">
    
    <span class="text-danger" [hidden]="!userGroup.get('password')?.errors?.required">required </span>


</span>
</div>



<div class="">
    <input type="submit" class="btn btn-primary" value="submit">
</div>
</form>
</div>

<hr>
<app-comparepasswordwithtemp></app-comparepasswordwithtemp>